project_p2/

**/*.safetensors

*.safetensors
.venv
.vscode

**/*.identifier
**/*/*.Identifier

*.Identifier

**/*/node_modules/
**/*/dist/
**/*/build/
**/*/out/
**/*/temp/
**/*/logs/
*.pdfZone.Identifier
