

input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  box-shadow: none;
  font: inherit;
}

.hover-highlight {
  transition: background-color 0.1s ease-in-out;
}

.hover-highlight:hover{
  background-color: rgba(0,0,0,0.05);
}

/* Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* Firefox */

/* Hide scrollbars completely (requires `overflow` to be `auto` or `scroll`) */
* {
  scrollbar-width: thin; /* Set scrollbar width to thin */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Thumb color and track color */
}

/* Internet Explorer and older Edge versions */

/* Hide arrows (Internet Explorer / older Edge) */
::-ms-scrollbar {
  width: 0; /* Hide scrollbar for vertical scroll */
  height: 0; /* Hide scrollbar for horizontal scroll */
}

::-ms-scrollbar-track {
  background: transparent; /* Hide the scroll track */
}

::-ms-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Thumb color */
  border-radius: 6px; /* Border radius for thumb */
}
