

.app-root-cont {
    background-color: rgb(255, 255, 255);
}


/* #1 Side Navigation */
.side-nav {
    min-width: 3%;
    height: 100%;
    transition: min-width 0.1s ease-in-out;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 0px #888888;
}

.item {
    padding: 14px;
    position: relative;
    border-radius: 4px;
    margin: 5px 8px;
    background-color: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

.item:hover {
    background-color: rgba(0,0,0,0.14);
}


.item > span {
    margin-left: 14px;
    letter-spacing: 1.3px;
    font-size: 12px;
    font: 'calibri';
}

.side-nav-tile {
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.tile-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*  #2 Chat List Section */
.chat-list-section {
    width: 20%;
    border-right: 1px solid #e7e7e7;
}
.search-cont {
    padding: 14px 20px;

}
