langchain
langgraph
langchain-experimental

langchain-neo4j
neo4j

langchain-openai
langchain-google-genai
langchain-huggingface
huggingface_hub
transformers

langchain-groq

python-dotenv~=1.0.1
pymupdf

pillow

gliner
