.link {
    color: var(--g1);
    font-weight: 500;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
}

/* .link:hover {
    background-color: rgba(0,0,0,0.1);
} */
.links {
    position: relative;
}

.links > :not(:first-child)  {
    /* margin-left: 2rem; */
}

.link-slider {
    position: absolute;
    width: 100px;
    height: 100%;
    overflow: visible;
    display: flex;
    left: 0px;
    justify-content: center;
    transition: left 0.4s ease-in-out;
}
.slider{
    position: relative;
    width: 70%;
    font-size: 28px;
    top: 28px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--g1);
}